.loginPage{

  background-image: url("https://webgradients.com/public/webgradients_png/034%20Lemon%20Gate.png");
  height: 100vh;
  width: 100%;
  margin: 0 0 0 0;
}
.greenBg {
  background-image: url("https://webgradients.com/public/webgradients_png/034%20Lemon%20Gate.png");
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
overflow: hidden;
}
.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2BBBAD;
  -webkit-box-shadow: 0 1px 0 0 #2BBBAD;
  box-shadow: 0 1px 0 0 #2BBBAD; }

.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #2BBBAD;
  -webkit-box-shadow: 0 1px 0 0 #2BBBAD;
  box-shadow: 0 1px 0 0 #2BBBAD; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #2BBBAD #2BBBAD transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
  #components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  .menu-prefix-cls-item:active {
     background-color: #2BBBAD ;
  }